.details-panel {
  display: flex;
  align-items: flex-start;
  padding: @padding-size;

  .image {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
  }

  .details {
    display: block;
    padding-left: @padding-size;

    > * {
      float: left;
      width: 100%;
    }
  }

  .details-name {
    color: @dark-90;
  }

  .details-address {
    color: @dark-50;
    font-weight: normal;
    font-size: 0.9em;
    padding-top: 0.2em;
  }

  .details-features {
    padding: @padding-size/2 0;
    color: @dark-60;
  }

  .features {
    width: 100%;
    float: left;
  }

  .features .fas {
    padding-right: 0.8em;
  }

  .features .fa-check {
    color: @brand-success;
  }

  .features .fa-times {
    color: @brand-danger;
  }

  .details-info {
    padding-bottom: 15px;
  }

  .details-info > * {
    width: 100%;
    float: left;
  }

  .info-label {
    color: @dark-80;
    font-weight: bold;
  }

  .info-value {
    font-size: 1.1em;
    font-weight: lighter;
  }

  .time-info {
    padding: 5px 10px;
    color: white;
    background: rgb(81,191,86);
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.7rem;
    position: relative;
    top: -3px;
  }
}