#main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header-container {
  position: absolute;
  width: 100%;
  height: 175px;
  padding: 2*@padding-size/3 @padding-size*2;
}

.side-panel-container {
  position: absolute;
  width: 400px;
  top: 175px;
  bottom: 0;
  background: rgb(229, 229, 229);
  overflow-y: scroll;
}

.details-panel-container {
  position: absolute;
  width: calc(100% - 250px);
  top: 175px;
  left: 400px;
  bottom: 0;
  right: 0;
  background: rgb(241, 241, 241);
}