.side-panel {
  overflow: hidden;
  clear: both;
  padding-right: 5px;

  .sidepanel-section {
    width: 100%;
    clear: both;  
  }

  .sidepanel-item {
    width: 100%;
    float: left;
    color: rgb(115, 120, 121);
    padding: 2*@padding-size/3 @padding-size*2;
    border-bottom: 1px solid rgb(178, 182, 183);
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.label {
      color: rgb(78, 84, 86);
      font-weight: 600;
    }
    
    &.active {
      box-shadow: 0px 1px 1px 0px rgb(178, 182, 183);
      color: white;
      background: @active-bg-color;
      border-bottom: none;
    }
  }
}