.slider {
  padding-bottom: 5px;

  .title {
    color: rgb(78, 84, 86);
    font-weight: 600;
    padding-bottom: 5px;
  }

  .label {
    padding-top: 5px;
  }

  .rc-slider-handle {
    border-color: rgb(80, 190,191);
  }

  .rc-slider-track {
    background: rgb(80, 190,191);
  }

  .min-label {
    float: left;
  }

  .max-label {
    float: right;
  }
}