* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.clearfix:after {
    content: " ";
    clear: both;
    display: table;
    visibility: hidden;
}